/* glopal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --colorOne:#2196f3;
    --colorOneTransparent:#e91e6238;
    --colorTwo:#e91e63;
}
body {
    background: linear-gradient(to right, #010c14, #2e012e);
}
/* glopal */


/* process */
.process{
    background: 
        radial-gradient(circle at top right,var(--colorOneTransparent), rgba(255, 0, 0, 0) 30%),
        linear-gradient(to bottom, #000, #000);
    height: 100vh;
    width: 100%;
    position: fixed;
    -webkit-animation: paleArea 15s infinite;
            animation: paleArea 15s linear infinite;
    display: none;
    z-index: 998;
}

@-webkit-keyframes paleArea {
}

@keyframes paleArea {
0%{    background: 
        radial-gradient(circle at top right,var(--colorOneTransparent), rgba(255, 0, 0, 0) 30%),
        linear-gradient(to bottom, #000, #000);}
5%{    background: 
        radial-gradient(circle at top right,var(--colorOneTransparent), rgba(255, 0, 0, 0) 31%),
        linear-gradient(to bottom, #000, #000);}
10%{    background: 
        radial-gradient(circle at top right,var(--colorOneTransparent), rgba(255, 0, 0, 0) 32%),
        linear-gradient(to bottom, #000, #000);}
15%{    background: 
        radial-gradient(circle at top right,var(--colorOneTransparent), rgba(255, 0, 0, 0) 33%),
        linear-gradient(to bottom, #000, #000);}
20%{    background: 
        radial-gradient(circle at top right,var(--colorOneTransparent), rgba(255, 0, 0, 0) 34%),
        linear-gradient(to bottom, #000, #000);}
25%{    background: 
        radial-gradient(circle at top right,var(--colorOneTransparent), rgba(255, 0, 0, 0) 35%),
        linear-gradient(to bottom, #000, #000);}
30%{    background: 
        radial-gradient(circle at top right,var(--colorOneTransparent), rgba(255, 0, 0, 0) 36%),
        linear-gradient(to bottom, #000, #000);}
35%{    background: 
        radial-gradient(circle at top right,var(--colorOneTransparent), rgba(255, 0, 0, 0) 37%),
        linear-gradient(to bottom, #000, #000);}
40%{    background: 
        radial-gradient(circle at top right,var(--colorOneTransparent), rgba(255, 0, 0, 0) 38%),
        linear-gradient(to bottom, #000, #000);}
45%{    background: 
        radial-gradient(circle at top right,var(--colorOneTransparent), rgba(255, 0, 0, 0) 39%),
        linear-gradient(to bottom, #000, #000);}
50%{    background: 
        radial-gradient(circle at top right,var(--colorOneTransparent), rgba(255, 0, 0, 0) 40%),
        linear-gradient(to bottom, #000, #000);}
55%{    background: 
        radial-gradient(circle at top right,var(--colorOneTransparent), rgba(255, 0, 0, 0) 39%),
        linear-gradient(to bottom, #000, #000);}
60%{    background: 
        radial-gradient(circle at top right,var(--colorOneTransparent), rgba(255, 0, 0, 0) 38%),
        linear-gradient(to bottom, #000, #000);}
65%{    background: 
        radial-gradient(circle at top right,var(--colorOneTransparent), rgba(255, 0, 0, 0) 37%),
        linear-gradient(to bottom, #000, #000);}
70%{    background: 
        radial-gradient(circle at top right,var(--colorOneTransparent), rgba(255, 0, 0, 0) 36%),
        linear-gradient(to bottom, #000, #000);}
75%{    background: 
        radial-gradient(circle at top right,var(--colorOneTransparent), rgba(255, 0, 0, 0) 35%),
        linear-gradient(to bottom, #000, #000);}
80%{    background: 
        radial-gradient(circle at top right,var(--colorOneTransparent), rgba(255, 0, 0, 0) 34%),
        linear-gradient(to bottom, #000, #000);}
85%{    background: 
        radial-gradient(circle at top right,var(--colorOneTransparent), rgba(255, 0, 0, 0) 33%),
        linear-gradient(to bottom, #000, #000);}
90%{    background: 
        radial-gradient(circle at top right,var(--colorOneTransparent), rgba(255, 0, 0, 0) 32%),
        linear-gradient(to bottom, #000, #000);}
95%{    background: 
        radial-gradient(circle at top right,var(--colorOneTransparent), rgba(255, 0, 0, 0) 31%),
        linear-gradient(to bottom, #000, #000);}
}


.plane{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    -webkit-animation: plane 1s infinite;
            -webkit-animation: plane-on-progress 8s infinite;
                    animation: plane-on-progress 5s infinite;
}

@-webkit-keyframes plane-on-progress {
    25%{transform: skew(-20deg , -5deg) rotateZ(3deg) translateX(calc(-50% + 110px)); }
    50%{transform:skew(0 ,10deg) rotateZ(-3) translateX(calc(-50% + 200px))}
    75%{transform:  skew(20deg , 5deg) rotateZ(3deg) translateX(calc(-50% + 110px));}
    100%{transform: skew(0 , 0) rotateZ(0) translate(-50% ,-50%)}
}
@keyframes plane-on-progress {
    25%{transform: skew(-20deg , -5deg) rotateZ(3deg) translateX(calc(-50% + 110px)); }
    50%{transform:skew(0 ,10deg) rotateZ(-3) translateX(calc(-50% + 200px))}
    75%{transform:  skew(20deg , 5deg) rotateZ(3deg) translateX(calc(-50% + 110px));}
    100%{transform: skew(0 , 0) rotateZ(0) translate(-50% ,-50%)}
}

@-webkit-keyframes plane-done {
    0%{transform: skew(0 , 0) rotateZ(0) translate(-50% ,-50%)}
    100%{transform: skew(0 , 0) rotateZ(0) translate(-50% ,-50%)}
}
@keyframes plane-done {
    0%{transform: skew(0 , 0) rotateZ(0) translate(-50% ,-50%)}
    100%{transform: skew(0 , 0) rotateZ(0) translate(calc(-50% + 2000px) ,-50%)}
}

.fa-jet-fighter{
    font-size: 150px;
    background: linear-gradient(to right, var(--colorOne), var(--colorTwo));
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 2;
}

.fa-jet-fighter::after{
    content: '';
    padding: 13px;
    height: 22px ;
    border-radius: 50%;
    position: absolute;
    left: -1px;
    bottom: 50%;
    transform: translateY(50%);
    background-color: var(--colorTwo);
    -webkit-filter: blur(30px);
            filter: blur(30px);
}

.steamJet1 , .steamJet2, .steamJet{
    width: 30rem;
    height: 2px;
    position: relative;
    top: 6px;
    right: 81%;
    background: linear-gradient(to right, #000, var(--colorOne), var(--colorTwo));
    -webkit-filter: blur(2px);
            filter: blur(2px);
}
.steamJet2{
    top: -6px;
}

.steamJetBig , .steamJet3 , .steamJet4{
    width: 30rem;
    height: 8px;
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translateY(-50%);
    background: linear-gradient(to right, #000, #2195f361, var(--colorOne), var(--colorTwo));
    -webkit-filter: blur(2px);
            filter: blur(2px);
}
.steamJet3{
    top:calc(50% - 10px);
    width: 30rem;
    height: 2px;
    left: calc(-100% + 20px);
}
.steamJet4{
    top:calc(50% + 10px);
    width: 30rem;
    height: 2px;
    left: calc(-100% + 20px);
}
.steamJet{
    width: 10rem;
    height: 2px;
    position: absolute;
    transform: translateY(-50%);
    background: linear-gradient(to right, #000, #2195f361, var(--colorOne), var(--colorTwo), #000);
    -webkit-filter: blur(2px);
            filter: blur(2px);
}

.line:nth-child(1) {
    top: 74.07%;
    -webkit-animation-delay: .2s;
            animation-delay: .2s;
}
.line:nth-child(2) {
    top: 21.95%;
    -webkit-animation-delay: .8s;
            animation-delay: .8s;
}
.line:nth-child(3) {
    top: 39.78%;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}
.line:nth-child(4) {
    top: 52.13%;
    -webkit-animation-delay: .4s;
            animation-delay: .4s;
}
.line:nth-child(5) {
    top: 5.5%;
    -webkit-animation-delay: .2s;
            animation-delay: .2s;
}

.line{
    left: 100%;
    -webkit-animation: air .5s infinite ;
    animation: air .5s infinite;
}

@-webkit-keyframes air {
    0%{left: 100%;}
    100%{left: -200px;}
}

@keyframes air {
    0%{left: 100%;}
    100%{left: -200px;}
}

@media (max-width : 575px) {
.plane{
    left: 60%;
}
.fa-jet-fighter{
    font-size: 50px;
}
.steamJet1 , .steamJet2{
    width: 20rem;
    top: 6px;
    right: 95%;
}
.steamJet2{
    top: -6px;
}
.steamJetBig , .steamJet3 , .steamJet4{
    width: 20rem;
    height: 8px;
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translateY(-50%);
}
.steamJet3{
    top:calc(50% - 10px);
    height: 2px;
    left: calc(-100% + 20px);
}
.steamJet4{
    top:calc(50% + 10px);
    height: 2px;
    left: calc(-100% + 20px);
}
}

.process .progress{
    position: absolute ;
    bottom: 0;
    right: 0;
    width: 100%;
}

.process .progress .progress-text{
    position: absolute;
    bottom: 55px;
    right: 55px;
    color: #fff;
}

.process .progress .progress-text::after , .process .progress .progress-text::before{
    content: '';
    background: none;
    border-radius: 50%;
    border: 1px var(--colorTwo) solid;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    -webkit-animation: circle-fade 1.5s infinite ;
            animation: circle-fade 1.5s infinite ;
}

.process .progress .progress-text::before{
    border: 1px var(--colorOne) solid;
            -webkit-animation-delay: .5s;
                    animation-delay:.5s ;
}

@-webkit-keyframes circle-fade {
    0%{padding: 0; opacity: 0;}
    100%{padding: 25px; opacity: 1;}
}

@keyframes circle-fade {
    0%{padding: 0; opacity: 0;}
    50%{padding: 30px; opacity: 1;}
    100%{padding: 60px; opacity: 0;}
}

.process .progress .progress-bar {
    width: 0%;
    height: 20px;
    background-color: var(--colorTwo);
    border-radius: 3px 10px 10px 3px;
    box-shadow: inset -7px 0px 15px 0px #f8bbd0;
}

/* process */

/* content */

.text{
    padding: 150px 0 80px;
    text-align: center;
    letter-spacing: 5px;
    color: #777;
}

.text h1 ,.downloadBubble-title ,#okButton ,#update{
    font-family:monospace;
    margin-bottom: 5px;
        background: linear-gradient(to right, var(--colorOne), var(--colorTwo));
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

#sendBtn,
#recieveBtn {
    padding-top: 1em;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}


#downloadBubble {
    position: fixed;
    display: none;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    box-shadow: 0 0 15px rgba(152, 152, 152, 0.258);
    width: 80%;
    height: 30em;
    padding: 0.5em;
    padding-bottom: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 1em;
    z-index: 901; 
}

#alertDialog {
    background-color: #B0BEC5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35em;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    z-index: 901;
}

#alertDialogTitle {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    padding: 10px 0px;
}

#alertDialogContent {
    padding: 10px 10px;
    font-size: 1.2em;
}

#alertDialogOkBtn {
    width: 9em;
    height: 3em;
    margin-bottom: 10px;
    background-color: #dd0d52;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 200ms;
}

#alertDialogOkBtn:hover {
    transform: scale(1.1, 1.1);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.64);
    z-index: 900; 
    display: none; 
}

#downloads {
    overflow-x: hidden;
    overflow-y: auto;
    list-style-type: none;
    max-height: calc(30em - 54px - 1em);
}



.download-item {
    margin-top: 1em;
    padding: 1em;
    border-radius: 0.5em;
    cursor: pointer;
    color: #B0BEC5;
}

.btns {
    display: flex;
    position: absolute;
    width: 100%;
    height: 3em;
    bottom: 0;
    right: 0;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0 1em;
    gap: 20px;
}

#okButton ,#update{
    border: none;
    cursor: pointer;
    font-size: larger;
    font-weight: 1000;
    padding: 1em;
    border-radius: 0.3em;
    margin-bottom: 0;
    letter-spacing: 1px;
    transition: .5s;
}

#okButton:hover ,#update:hover{
    letter-spacing: 2px;
    scale: 1.2;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.btn {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-weight: 500;
    color: var(--colorTwo);
    background-color: white;
    letter-spacing: 2px;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            cursor: pointer;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

footer {
    text-align: center;
    padding: 20px 0;
    position: relative;
    top: 100px;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            color: #777;
}
footer small {
    display: block;
    margin-top: 10px;
    font-size: 0.8em; 
}
footer p {
    margin: 5px 0;
}
footer a{
    text-decoration:none ;
    color: var(--colorOne);
}
footer a:hover{
    text-decoration:underline ;
}
/* content */


