*.iml
.gradle
.kotlin
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.vscode

app/build
cert/
app/release/
app/src/main/cpp/.vscode/

local_project_options.json