* text=auto

*.c text
*.h text
*.java text
*.kt text
*.xml text
*.txt text
*.gradle text
*.toml text
*.properties text
*.pro text

# Assets
*.html text
*.svg text
*.js text
*.css text


*.png binary
*.jp*g binary
