:root {
    --colorOne: #2196f3;
    --colorOneTransparent: #e91e6238;
    --colorTwo: #e91e63;
    --colorTwoDarker: #c31952;
}


@font-face {
    font-family: 'Almarai';
    src: url('/common/almarai_regular.ttf');
}

#disconnected {
    color: #eee;
    background-color: rgb(219, 16, 16);
    padding: 2em 1em;
    position: fixed;
    top: 2em;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    box-shadow: 2px 3px 10px black;
    z-index: 2000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Almarai';
}

*:lang(ar) {
    letter-spacing: 0px !important;
}


body {
    background: linear-gradient(to right, #010c14, #2e012e);
    overflow: hidden;
}

button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
