@font-face {
    font-family: 'Almarai';
    src: url('/common/almarai_regular.ttf');
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(to right, #010c14, #2e012e);
    color: #fff;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Almarai';
    font-weight: bold;
    font-size: xx-large;
}

sub {
    position: absolute;
    bottom: 1em;
    font-size: xx-small;
}
